<h1>Panier</h1>
<p>Voici tes choix <%= @cart.user_id %> </p>

<ul>
<h4>Liste</h4>
<% @cart.lineitems.each do |product| %>
    <li><%= product.item.title %>(x<%= product.quantity %>) : <%= product.total %></li>
    <p><%= product.item.price %>€</p>
    <%= button_to 'Supprimer', product, method: :delete, data: { confirm: "t'es sur?"}, class: 'btn btn-danger'%>
    <% end %>
</ul>

<p> Total <%= @cart.total %>€</p>


<%= button_to 'Valider le panier', charges_path(cart_id: @cart.id), method: 'POST', class: 'btn btn-success'%>
