<h1>Panier de <%= @cart.user.first_name %> </h1>
 

<ul>
<% @cart.lineitems.each do |product| %>
    <li><%= product.item.title %><%= product.quantity %> </li>
    <p><%= product.item.price %>€</p>
    <%= button_to 'Supprimer', product, method: :delete, class: 'btn btn-danger'%>
    <% end %>
</ul>

<% if @cart.lineitems.length != 0 %>
<div class="container mt-5">
  <div class="card mt-2 mb-3 text-center card-center">
    <h5 class="mb-4 action-banner" >Prix total : <%= @cart.total %> €</h5>
    <p>Une fois le réglement effectué vous recevrez vos photos de chats directement sur votre email !</p>
<% else %>
    <p> Votre panier est vide </p>
<% end %>
</div>

<div class="container mt-5 mb-3 text-center w-50 card-center">
<div id="stripe" class="mt-2">
  <%= render 'stripe' %>
</div>
</div> 

