<h1><%= @cart.user.first_name %>, voici votre panier </h1>
 

<ul>
<% @cart.lineitems.each do |product| %>
  <h3><%= product.item.title %></h3>
  <img> <%=image_tag product.item.image_url %></img>
  <li> Quantité : <%= product.quantity %></li>
  <p><%= product.item.price %>€</p>
  <%= button_to 'Supprimer', product, method: :delete, class: 'btn btn-danger'%>
  <% end %>
</ul>

<% if @cart.lineitems.length != 0 %>
<div class="container mt-5">
  <div class="card mt-2 mb-3 text-center card-center">
    <h5 class="mb-4 action-banner" >Prix total : <%= @cart.total %> €</h5>
    <p>Une fois le réglement effectué vous recevrez vos photos de chats directement sur votre email !</p>
<% else %>
    <p> Votre panier est vide </p>
<% end %>
</div>

<div class="container mt-5 mb-3 text-center w-50 card-center">
<div id="stripe" class="mt-2">
  <%= render 'stripe' %>
</div>
</div> 


<%# <%= render 'shopping_cart_page' %>
